.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 700;
}

.pokeball-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 20px auto;
}

.pokeball {
  display: block;
  height: 96px;
  width: 96px;
  /*background: radial-gradient(
      width: 96px;
      white 8px,
      black 9px 10px,
      white 11px 12px,
      black 13px 16px,
      transparent 17px
    ),
    linear-gradient(to bottom, red 0 40px, black 41px 48px, white 49px 100%);
  border-radius: 50%;
  border: 4px solid black;
  box-shadow: inset -8px -4px 0 0 rgba(0, 0, 0, 0.2); */

  animation: roll-in-left 1.2s ease-out forwards,
    shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) 1.3s 3,
    catch 0.5s ease-out 5.1s forwards;
  transform-origin: 50% 50%; /* importante per rotazioni */
  cursor: url("../img/cursor.png"), auto;
}

.gotcha-text {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: red;
  margin-top: 10px;
  opacity: 0;
  animation: fade-in 1s ease-in 6s forwards;
}

@keyframes roll-in-left {
  0% {
    transform: translateX(-200%) rotate(-720deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0) rotate(0);
  }
  20% {
    transform: translateX(-10px) rotate(-20deg);
  }
  30% {
    transform: translateX(10px) rotate(20deg);
  }
  50% {
    transform: translateX(-10px) rotate(-10deg);
  }
  60% {
    transform: translateX(10px) rotate(10deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}

@keyframes catch {
  to {
    filter: saturate(0.8) brightness(0.8);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
